.container {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.calculator_card {
  display: grid;
  grid-template-rows: 3fr 7fr;
  background-color: #000;
  height: 632px;
  min-height: 632px;
  width: 300px;
  min-width: 300px;


  border-radius: 55px;
  border: 4px solid #8196AE;
  padding: 10px;
}

.display_container {
  display: flex;
  padding: 1em 0em 1em 0em;
  justify-content: end;
}

.display {
  height: 80px;
  width: 100%;
  background-color: black;
  border-radius: 15px;
  align-self: flex-end;
  color: white;
  font-size: 5rem;
  text-align: right;
  padding-left: 10px;
  padding-right: 20px;
}

.buttons_container {
  display: grid;
  width: 300px;
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #313131;
  color: white;
  font-size: 20pt;
}

.operator {
  background-color: #f69a06;
}

.clear {
  background-color: #9f9f9f;
  color: black;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 210px;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 210px;
}
