
.container {
    display: flex;
    height: 75vh;
    min-height: 632px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.calculator_card {
    background-color: rgb(155, 155, 155);
    align-self: center;
    border-radius: 15px;
    border: #333;
}

.display_container {
    display: flex;
    padding: 1em 1em 1em 1em;
    justify-content: center;

}

.display {
    height: 80px;
    width: 100%;
    background-color: black;
    border-radius: 15px;
    align-self: center;
    color: white;
    font-size: 5rem;
    text-align: right;
    padding-left: 10px;
    padding-right: 20px;
}

.buttons_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: lightgrey;
}

.operator{
    background-color: orange;
}

.clear {
    background-color: #337cac;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 300px;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 300px;
}