
.calculator_card {
    height: 630px;
    width: 460px;
    background-color: gray;
    align-self: center;
    /*
    display: grid;
    grid-template-rows: 1fr 5fr;
    */
    border-radius: 8px;
}

.display_container {
    display: flex;
    padding: 1em 1em 1em 1em;
    justify-content: center;

}

.display {
    height: 80px;
    width: 100%;
    background-color: black;
    border-radius: 8px;
    align-self: center;
    color: white;
    font-size: 5rem;
    text-align: right;
    padding-left: 10px;
    padding-right: 20px;
}

.buttons_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: lightgrey;
}

.operand{
    background-color: orange;
}

.clear {
    background-color: #337cac;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 300px;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 300px;
}